.map-page {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.map-page h2 {
  text-align: center;
  color: #166534;
  margin-bottom: 6px;
}

.map-page p {
  text-align: center;
  color: #4b5563;
  margin-bottom: 20px;
}

/* MAP */
.map-container {
  height: 500px;
  width: 100%;
  border-radius: 16px;
  border: 2px solid #bbf7d0;
}
